/* ==============
  Card
===================*/
.card {
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.card-header {
  border-bottom: 1px solid rgba($dark,0.05);
}