.cpanel.yml
*config.php
upload/*
env.php
.DS_Store
forms/responsesfile/*
.htaccess
users/env


# react
/build
node_modules
package-lock.json
.eslintcache
*.lock
.env
admin/.DS_Store
assets/.DS_Store
.vscode/
debug.log
/package.json
mail-testing
admin/adminPanel/faqadmin/certificate/download
admin/adminPanel/faqadmin/images
verify
upload
# composer
vendor