.breadcrumbs {
  background: #010b1a;
  background-image: url("../assets/img/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.about p {
  justify-content: center;
}

#typingContainer{
  width: fit-content;
  margin: auto;
  height: 56px;
}

.typing-cursor {
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 0;
width: 2px;
height: 56px;
background-color: white;
animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
0%, 100% {
opacity: 0;
}
50% {
opacity: 1;
}
}

#Frames,
.Frame {
  list-style: none;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#Frames {
  margin: 5% 0;
  width: 100%;
}

.Frame {
  display: inline-block;
  padding: 30px;
  border-width: 15px;
  border-style: solid;
  border-color: #2f2d2d #434040 #4f4c4c #434040;
  background: #f5f5f5;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#e5e4df),
    to(#cdcdc6)
  );
  background-image: -webkit-linear-gradient(#e5e4df, #cdcdc6);
  background-image: -moz-linear-gradient(#e5e4df, #cdcdc6);
  background-image: -o-linear-gradient(#e5e4df, #cdcdc6);
  background-image: linear-gradient(#e5e4df, #cdcdc6);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6), 0 5px 2px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
}

.Frame::before {
  content: "";
  position: absolute;
  top: -175px;
  right: -20%;
  width: 200px;
  height: 200px;
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  -moz-transform: rotateZ(-40deg);
  -o-transform: rotateZ(-40deg);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(rgba(255, 255, 255, 0.4)),
    to(rgba(255, 255, 255, 0))
  );
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
}

.Frame img {
  border-width: 2px;
  border-style: solid;
  border-color: #bbbab4 #c7c7bf #e5e4df #c7c7bf;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1),
    0 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.img-frame {
  width: 100%;
  height: 100%;
}
