.form-search {
  animation: fade-up 1s ease-in-out;
}

.form-search input[type="text"] {
  font-size: 0.9rem;
}

.form-search .btn-primary {
  margin-top: 0%;
}

#originalLink {
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  padding: 7px 0;
  font-size: 0.95rem;
}

#shortenLink {
  border: 0 !important;
  padding: 7px 0;
}

[type="button"]:active {
  transform: scale(0.92) translateY(0.1rem);
  filter: brightness(1.5) contrast(1.2) !important;
}

#formSpan {
  width: 100%;
  display: flex;
  align-items: baseline;
  border: 0 !important;
  border-bottom: 1px solid #ccc !important;
  margin-bottom: 15px;
  align-items: center;
}

#formresp {
  padding: 1rem;
}

.hero form .btn-primary {
  margin-top: 1rem;
}

#formresp h2 {
  color: #000b;
  text-align: center;
  margin-bottom: 1rem !important;
}

.hero form .btn-primary {
  padding: 0.8rem 0.25rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
}

customName input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #0d6efd;
  font-size: 12px;
  border: 1px solid #0a53be;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.inputIconContainer {
  position: relative;
  width: 100%;
}

.inputIconContainer i {
  position: absolute;
  top: 18px;
  left: 5px;
  color: #0d42ff;
  font-size: 15px;
}

#linkIcon i {
  font-size: 20px;
}

#formresp input,
#formSpan {
  padding-left: 28px;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

@media screen and (max-width: 496px) {
  #buttonresp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 0px !important;
  }

  #formresp {
    display: block;
  }

  .hero form .btn-primary {
    padding: 15px 0px;
    width: 48%;
    margin-top: 0%;
  }
}

@media (min-width: 767px) {
  #formresp {
    padding: 0.85rem !important;
  }

  .hero form .btn-primary {
    font-size: 0.9rem;
    padding: 0.9rem 1.2rem;
    margin-top: 0%;
  }
}

.m-t-p1 {
  margin-top: 1% !important;
}

.text-gray {
  color: gray !important;
}
.text-555 {
  color: #555 !important;
}
.fontSize9rem {
  font-size: 0.9rem !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.h-0 {
  height: 0 !important;
}
