.top-29 {
  top: 29px !important;
}

.right-15 {
  right: 15px !important;
}

.w-full {
  width: 100% !important;
}

.text-align-center {
  text-align: center !important;
}
.text-green {
  color: green !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.m-5px {
  margin: 5px !important;
}
