.breadcrumbs {
  background: #0e1d34;
  background-image: url("../assets/img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* style="text-align: justify;align-items:center;"" */
